img{
    border: 5px solid #00FF00;
    border-radius: 5px;
}
li{
    color: blue;
}
.top{
    background-color: green;
}
.bottom{
    background-color: yellow;
}
.bold-brown{
    color: brown;
    font-weight: bold;
}